html, body, #container, .vertical
{
  height : 100%;
  margin : 0px;
}
/*
#container{
  background-color : #ccc;
}*/
input {
  width : 20px;
  text-align : center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.inline{
  display : inline;
}

.myclass{
  display : table;
  position : absolute;
  width:18%;
  background-color : #ccc;
  margin-left : 1%;
  margin-bottom: 0;
}

.vertical{
  //height: calc(100% - 5vh) ;
  float : left;
  width: 20%;
  display : block;
  //background-color : yellow;
  //margin-left:-2px;
  border: 1px solid;
}

.shadow{
  -moz-box-shadow:    inset 0px 0px 10vw 3vw #dee1ff;
  -webkit-box-shadow: inset 0px 0px 10vw 3vw #dee1ff;
  box-shadow:         inset 0px 0px 10vw 3vw #dee1ff;
}

.tomiddle{
  display:table-cell;
  vertical-align: middle;
}

.tomiddle p{
  text-align:center;
}

#currentTime{
  z-index : 100;
  position: absolute;
  top : -30px;
  width: 100%;
  border-top : 2px dotted gray;
}

#showtime{
  z-index : 101;
  position: absolute;
  text-align: center;
  top : -40px;
  width : 100%;
  text-shadow: 0px 0px 3px white;
}

#add{
  position : absolute;
  top : 0;
  right : 0;
  font-size : 7vw;
  transition-duration: 0.5s;
}

#add:hover{
  color : gray;
}

